		<div class="container">
         <div style="width:380px; margin:0 auto" class="row " ng-repeat='album in albums' ng-if="$index%2==0" >
        
			<div class="img"  >
			  <a target="_blank" >
			    <img src="{{albums[$index].photos.data[0].picture}}" alt="No Photos" width="300" height="200" ng-click="albumPhotos($index)">
			  </a>
			  <div class="desc">{{albums[$index].name}}</div>
			</div>
			<div class="img"  ng-if="$index+1<albums.length">
			  <a target="_blank" >
			    <img src="{{albums[$index+1].photos.data[0].picture}}" alt="No Photos" width="300" height="200" ng-click="albumPhotos($index+1)">
			  </a>
			  <div class="desc">{{albums[$index+1].name}}</div>
			</div>              
		
    	 </div>
    	</div>