		<div style="position:absolute;top:0px;width:100%"class="panel-footer">
			<a class="btn btn-primary btn-block btn-lg" ng-click="upload()">Upload</a>
		</div>
		<div class="container">         
			<div class="img" ng-repeat='photo in photos' ng-init="checked=false;uploadProgress=0;" >
			  <a target="_blank" href="#">
			    <img src="{{photo.picture}}" alt="No Photos" width="300" height="200" ">
			  </a>
			  <div class="desc"><input type="checkbox" ng-click="loadImage($index)" ng-model="photo.checked">
			  <div ng-show="photo.checked" class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="{{ photo.uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ photo.uploadProgress }}%;">
                {{ photo.uploadProgress == 0 ? '' : photo.uploadProgress + '%' }}
              </div>
            </div>  
			  </div>
			</div>
    	</div>
    	