body {
  color: #2d3339;
  font-family: "Varela Round";
  text-align: center;
  background: #edeff0;
  font-size: 16px; }

  div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    height: 165px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: 100px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
.no-top-marg {
  margin-top: 0;
}

.bottom-marg-10 {
  margin-bottom: 10px;
}

.bottom-marg-15 {
  margin-bottom: 15px;
}

.top-marg-10 {
  margin-top: 10px;
}

.left-marg-10 {
  margin-left: 10px;
}

.input-group-addon {
  min-width: 120px;
}

.fr {
  float: right;
}

.author span {
  color: #777;
}


